@import '../../UI-Kit/sizes';

.TagList {
  position: absolute;
  display: flex;
  list-style-type: none;
  bottom: $Card_padding;
  right: $Card_padding;
  height: 20px;

  &-Element {
    margin-left: $margin_small;
  }
}