// $gray: #838c91;

// COLORS
$gray: #808080;
$lightGray: darken(#ffffff, 5%);
$black: #2f373d;
$lightGreen: #c8e6c9;
$yellow: #f7e01f;
$white: #ffffff;
// $cyanLight: #5fa9af61;
$cyanLight: #d4e7e8;

// ELEMENTS DEPENDS COLOR
$lightSeporationColor: #ebebeb;
$backgroudWhiteGradient: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
$linkColor: #0366d6;
