// $gray: #838c91;
$gray: #808080;
$lightGray: #efefef;

$black: #2f373d;

$lightGreen: #c8e6c9;

$yellow: #f7e01f;

$white: #ffffff;

$lightSeporationColor: #ebebeb;

$backgroudWhiteGradient: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);