$TagIcon_size_small: 20px;

// GLobal
$App_minWidth: 360px;

// Fonts
$title_fontSize_medium: 26px;
$title_fontSize_large: 32px;
$fontSize_small: 12px;
$fontSize_medium: 15px;

$fontWeight_light: 200;
$fontWeight_normal: 500;
$fontWeight_bold: 800;

// Card-Sizes
$Card_padding: 10px;

// Margins-Paddings
$margin_small: 5px;

// LogoButton-sizes
$logoButton_size_small: 20px;
$logoButton_size_medium: 30px;
$logoButton_size_large: 40px;