@import '../../UI-Kit/sizes';
@import '../../UI-Kit/colors';

.article-enter {
  opacity: 0.01;
}

.article-enter.article-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

.article-exit {
  opacity: 1;
}

.article-exit.article-exit-active {
  opacity: 0.01;
  transition: opacity 0ms ease-in;
}

.Article {
  min-height: 100px;
  width: 100%;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  padding: $Card_padding;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  &-Title {
    font-weight: bold;
    font-size: $title_fontSize_medium;
    line-height: 30px;
    text-align: left;
    margin: 0;
// Font Family: Roboto
// Font Style: Bold
// Font Size: 26px
// Line Height: 30px
// Align: Left
  }

  &-Content {
   padding: 10px 20px;
  }

  &-Button {
    margin-top: 10px;
    border-color: transparent;
    color: $gray;
    background-color: $lightGray;

    &:hover {
      cursor: pointer;
      color: $black;
      // background-color: #e8e6e6;
      background-color: $lightGreen;
    }

    &_open {
      display: none;
    }
  }
}


