@import '../../UI-Kit/sizes';
@import '../../UI-Kit/colors';

.article-enter {
  opacity: 0.01;
}

.article-enter.article-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

.article-exit {
  opacity: 1;
}

.article-exit.article-exit-active {
  opacity: 0.01;
  transition: opacity 0ms ease-in;
}

.Article {
  min-height: 100px;
  width: 100%;
  box-shadow: 0 6px 15px rgba(36, 37, 38, 0.08);
  background-color: $white;
  border-radius: 5px;
  box-sizing: border-box;
  padding: $Card_padding;
  padding-right: 75px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: $black;

  &-Title {
    font-weight: bold;
    font-size: $title_fontSize_medium;
    line-height: 30px;
    text-align: left;
    margin: 0;
// Font Family: Roboto
// Font Style: Bold
// Font Size: 26px
// Line Height: 30px
// Align: Left
  }

  &-Content {
   padding: 10px 20px;
   margin-right: -65px;
  }

  &-Button {
    margin-top: 10px;
    color: $gray;
    border-style: solid;
    border-color: $lightGray;
    border-width: 1px;
    background-color: $lightGray;
    font-size: $fontSize_small;

    &:hover {
      cursor: pointer;
      color: $black;
      // background-color: #e8e6e6;
      background-color: $cyanLight;
      border-color: transparent;
    }

    &_open {
      display: none;
    }
  }
}


