@import '../../UI-Kit/sizes';
@import '../../UI-Kit/colors';

.Logo {
  top: 3px;
  position: relative;
  font-weight: 200;
  font-size: $title_fontSize_medium;
  line-height: 40px;
  letter-spacing: 5px;
  color: $cyan;
}