@import '../../UI-Kit/sizes';

.Logo {
  top: 3px;
  position: relative;
  // font-weight: 100;
  font-size: $title_fontSize_large;
  line-height: 40px;
  letter-spacing: 5px;
  background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}