@import '../../../UI-Kit/sizes';
@import '../../../UI-Kit/colors';

@mixin setLogoSize($size, $class) {
  &_#{$class},
  &_#{$class} img {
    width: $size;
    height: $size;
  }
}

.Button {
  // batton style reset
  padding: 0;
  border: none;
  margin: 0 5px;
}
.LogoButton {
  &:hover {
    color: darken($gray, 10%);
  }

  &_size {
    @include setLogoSize($logoButton_size_small, 'small');
    @include setLogoSize($logoButton_size_medium, 'medium');
    @include setLogoSize($logoButton_size_large, 'large');
  }
}