@import '../../../UI-Kit/sizes';
@import '../../../UI-Kit/colors';

@mixin setLogoSize($size, $class) {
  &_#{$class},
  &_#{$class} svg {
    width: $size;
    height: $size;
  }
}

.Button {
  // batton style reset
  padding: 0;
  border: none;
  margin-left: 10px;
}

.LogoButton {
  .icon {
    fill: darken($lightGray, 10%);
  }

  &:hover .icon {
    fill: darken($cyanLight, 10%);
  }

  &_size {
    @include setLogoSize($logoButton_size_small, 'small');
    @include setLogoSize($logoButton_size_medium, 'medium');
    @include setLogoSize($logoButton_size_large, 'large');
  }
}