@import '../../UI-Kit/sizes';
@import '../../UI-Kit/colors';

.HeaderButton {
  color: $black;
  margin: 0 5px;
  font-size: $fontSize_medium;
  text-decoration: none;
  &:visited {
    color: $black;
  }
  &:hover {
    color: $lightGray;
  }
}