.Header {
  width: 100vw;
  height: 80px;
  display: flex;
  position: sticky;
  top: 0;
  justify-content: center;
  align-items: center;
  z-index: 1;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);

  &-ButtonsWrapper {
    position: absolute;
    display: flex;
    justify-content: flex-end;
    width: 100vw;
    padding: 0 50px;
    box-sizing: border-box;
  }
}