@import '../../UI-Kit/colors';
@import '../../UI-Kit/sizes';

.Header {
  width: 100vw;
  min-width: $App_minWidth;
  min-height: 60px;
  display: flex;
  position: fixed;
  top: 0;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  color: $black;
  background-color: rgba($white, 0.9);
  border-bottom: 1px solid $lightSeporationColor;

  &-ButtonsWrapper {
    position: relative;
    display: flex;
    margin-right: 50px;
    box-sizing: border-box;
  }

  &-Logo {
    margin-left: 50px;
  }
}