@import '../../UI-Kit/colors';

.Header {
  width: 100vw;
  min-height: 60px;
  display: flex;
  position: fixed;
  top: 0;
  justify-content: center;
  align-items: center;
  z-index: 1;
  color: $black;
  background-color: rgba($white, 0.9);
  border-bottom: 1px solid $lightSeporationColor;

  &-ButtonsWrapper {
    position: absolute;
    display: flex;
    justify-content: flex-end;
    width: 100vw;
    padding: 0 50px;
    box-sizing: border-box;
  }
}