@import '../../UI-Kit/colors';
@import '../../UI-Kit/sizes';

.PublishDate {
  position: absolute;
  top: $Card_padding;
  right: $Card_padding;
  color: $gray;
  font-size: $fontSize_small;
  font-weight: $fontWeight_light;
}