@import './UI-Kit/fonts';

body {
  margin: 0;
}

#App {
  font-family: $mainFontFamily;
  .App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}