@import '../../UI-Kit/colors';
@import '../../UI-Kit/sizes';

.Link {
  &_size {
    &_s {
      font-size: $fontSize_small;
      font-weight: $fontWeight_normal;
    }
  }

  &_type {
    &_article {
      // color: $gray;
      margin-top: $margin_small;
      margin-right: -65px;
      color: $linkColor;
      text-decoration: none;
      white-space: nowrap;
    }
  }
}