@import '../../UI-Kit/colors';
@import '../../UI-Kit/sizes';

.Link {
  &_size {
    &_s {
      font-size: $fontSize_small;
      font-weight: $fontWeight_light;
    }
  }

  &_type {
    &_article {
      // color: $gray;
      margin-top: $margin_small;
    }
  }
}