@import '../../UI-Kit/colors';
@import '../../UI-Kit/sizes';

.Link {
  &_size {
    &_s {
      font-size: 0.85em;
      font-weight: 400;
    }
  }

  &_type {
    &_article {
      color: $linkColor;
      text-decoration: none;
      white-space: nowrap;
    }
  }
}